extends layout

include mixins/singleScripts

block content
  h2= title

  .game
    canvas(
      id="game_canvas"
      style="border: 1px solid #000000;"
      width="400"
      height="400"
      )

    canvas(
      id="hud_canvas"
      style="border: 1px solid #000000;"
      width="400"
      height="50"
      )
      
  block scripts
    mixin singleScripts()