extends layout

block content
  h2= title

  div#new-player.new-player
    label N A M E:
      input(id="name" type="text")
    div.button-case
      button(id="box" class="btn") B O X

  div#game
    .game
      canvas(
        id="game_canvas"
        style="border: 1px solid #000000;"
        width="400"
        height="400"
        )

      canvas(
        id="hud_canvas"
        style="border: 1px solid #000000;"
        width="400"
        height="50"
        )
      
  div#endgame
  
block scripts
  include mixins/singleScripts